<!DOCTYPE html>
<html lang="pt_br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="./styles/julyanBody.css">
  <link rel="stylesheet" href="./styles/julyan.css">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">


  <link rel="shortcut icon" href="img/Logo.png" type="image/x-icon">
  <title>Julyan</title>
</head>
<body>
  <div id="sidebar">
    <a href="/"> <img src="./img/Logo@2x.png" alt="logo"></a>
    <br><br><br>
    <a href="./julyanSolicitacoes">Visualizar <br> Solicitações</a><br><br>
    <a href="./julyanCadastros"> Cadastrar <br> Procedimento</a>
  </div> 

  <div id="main">
    <h1 id="soli">SOLICITAÇÕES</h1>
    <br><br><br>
    
    {{#each solicitacoes}}
      <div class="solicitacoes">
        {{this.nome}} <br> <br>
        {{this.numero}} <br> <br>
        {{this.email}} <br> <br> <br>

        Procedimentos desejados: <br>
        
        {{this.procedimentos}}
        <form action="/deleteSolicitacao" method="post">
          <input type="number" name="id" value="{{this.id}}" style="display: none;">
          <button type="submit" onclick="deleteSolicitacao({{this.id}})" class="completo">Done</button>
          <button type="submit" onclick="deleteSolicitacao({{this.id}})" class="descartar">Descartar <br> Solicitação</button>
        </form>
      </div>
    {{/each}}

  </div>

</body>
</html>