<!DOCTYPE html>
<html lang="pt_br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="./styles/body.css">
  <link rel="stylesheet" href="./styles/header.css">
  <link rel="stylesheet" href="./styles/chavrao.css">
  <link rel="stylesheet" href="./styles/procedimentos.css">
  
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">

  <link rel="shortcut icon" href="img/Logo.png" type="image/x-icon">
  <title>Julyan</title>
</head>
<body>

  <div id="header">
    <br>
    <p>Olá Fulano de Tal</p>
    <img id="logo" src="./img/Logo@2x.png" alt="logo">
  </div>

  <div id="chavrao">
    <div id="descricao">
      Julyan, o medicânico que<br>
      <strong id="melhora">melhora</strong> o desempenho do<br>
      seu Hardware 
    </div>

    <img src="img/medicanico.png" alt="medicanico" id="medicanicoImg">
  </div>
  
  <br>
  
  <hr>
  
  <div id="procedimentos">

    <h1>PROCEDIMENTOS</h1>

    <form action="" method="GET">
      {{#each procedimentos}}
        <div class="procedimentos">
          <input type="checkbox" value={{this.id}}>
          {{this.nome}} <br>
          <p>Descrição: {{this.descricao}}</p>
          <p>Vantagens: {{this.vantagens}}</p>
          <p>Risco: {{this.risco}} </p>
          <p>Preço: ${{this.preco}} </p>
        </div>
      {{/each}}
      
      <button type="submit">Enviar</button>
    </form>

  </div>

</body>
</html>